* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.navbar1 ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

li a:hover {
    text-decoration: underline;
}

.sidenavbar {
    height: 100%;
    background-color: #1D232C;
    width: 40%;
    height: 100%;
    color: white;
    transition: 3s;
    position: fixed;
}

.sidenavbar1 {
    display: block;
    padding: 20px;
}

.sidenavbar1 ul {
    list-style: none;
}

.sidenavbar1 ul li {
    padding: 15px 0;
}

.sidenavbar1 ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;
    background-color: #1D232C;
    width: 70%;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    color: white;

}

.header-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button {
    background-color: #f2f4f7;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    width: 150px;
}



/* service */
.service {
    padding: 10px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.service-container-2 div {
    background-color: #f2f4f7;
    text-align: center;
    padding: 20px;
}
.new-arrivalcontainer img{
    width: 200px;
    height: 200px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    
}
.new-arrivalcontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}
.new-arrival {
    padding: 10px;
}
.new-arrivalcontainer button{
    background-color: #f2f4f7;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}
.new-arrivalcontainer button:hover{
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}
/* news */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.news h2{
    text-align: center;
}
.news input{
    width: 60vw;
    border: #1D232C 2px solid;
    margin-top: 15px;
    padding: 10px;
}
.news button{
    background-color: #1D232C;
    color: white;
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
}
.news p{
    padding: 10px;
}
/*footer  */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1D232C;
    color: white; 
    margin-top: 20px;   
}
.footer a{
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 10px 10px 10px 10px;
    
}
.footer p{
    padding: 5px;
}

/* collections */
.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}
.product-box img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    border: black 2px solid;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    width: 100%;
    font-size: large;
    outline: none;
    background-color: transparent;
}
.product-search input:focus{
    outline: none;
}
.product-section h2{
    padding: 20px;
    margin-top: 20px;
}
.product-box a button{
    background-color: #1D232C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.product-box p{
    text-align: center;
    margin: 5px 0px;
}
.contact-container{
    /* background-color: #1D232C;
    color: white; */
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #1D232C;
    color: #f2f4f7;
    border-radius: 10px;
    gap: 20px;
    width: 60%;
    padding: 30px;
    margin: 50px;
    border: none;

}
.contact-form input, .contact-form textarea{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f2f4f7;
}
.contact-form button{
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f2f4f7;
    cursor: pointer;
}

/* navbar */
@media screen and (max-width: 600px) {
    .navbar1 ul {
        display: none;
    }

    .img {
        width: 150px;
        height: 150px;
    }

    .header-p {
        display: none;
    }

    .button {
        margin-top: 10px;
    }

    .service-container-1 p {
        display: none;
    }
    .service-container-2 {
        flex-direction: column;
    }   


}

@media screen and (min-width:600px) {
    .toggle {
        display: none;
    }

}